Pillow==9.0.1
aiohttp==3.8.1
pymongo==4.0.1
requests==2.27.1
nextcord==2.0.0a8
youtube_dl==2021.12.17
spotipy==2.19.0
beautifulsoup4==4.10.0
dnspython==2.2.0
python-dateutil==2.8.2
lyricsgenius==3.0.1
validators==0.11.2
